html, body {
    height: 100%;
}

body {
    background-color: #ececec;
}

.container {
	margin-top: 40px;
}

.page-header {
    text-align: center;
    
}

.lead {margin-top: 6px;}

.btn-info {margin-bottom: 10px;color:#ececec;}
a:hover.btn-info {text-decoration: none;color:white;}

#demo {text-align: center;margin-top: 15px;font-size: 16px;}

#embeds {margin-top:10px;}

.userinfo {
           -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    box-sizing:             border-box;
    border: 1px solid rgba(0,0,0,0.2);
    width:100%;
    float:left;
    margin-bottom: 20px;
    padding: 5px;
    background: rgba(241,241,241,0.8);
    border-radius: 5px;
    text-align: center;
}

.userimg {
	background: no-repeat center center;
	width: 73px; 
	height: 73px;
	-webkit-border-radius:73px;
	border-radius:73px;
	margin-left:auto;
	margin-right:auto;}

.userfollow {
	width:250px; height:20px;margin-left:8px;margin-top:10px;
}

#wrapper {
    min-height: 100%;
    /* Negative indent footer by it's height */
    margin: -40px auto -60px;
}

#push, #footer {
    height: 60px;
}

.state-loading {position: fixed;bottom:100px;z-index: 11;}

.lead {
    font-weight: normal;
}

.suggestions {
    font-size:12px;
    color: grey;
    margin:5px 0;
}

#error {
    border-left: 3px solid rgba(255,0,0,0.61); 
    padding: 0 8px; 
    margin: 30px 0;
}

#autorefresh {padding:10px;width: 100%;}

.teaser {
           -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    box-sizing:             border-box; 
    width:100%;
    float:left;
    margin-bottom: 20px;
    background: rgba(255,255,255,0.8);
    -moz-box-shadow:    0px 2px 3px 0px #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px #ccc;
  box-shadow:         0px 2px 3px 0px #ccc;
}

.teaser:nth-child(3n) {
    margin-right:0;
}

.teaser h3, h3 a {
    font-weight: bold;
    text-decoration: none;
    color:black;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.teaser h3 a:hover {
	text-decoration: none;
	background: #830000;
	color:white;
}

.media {
    
}

.media img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
}

.article {margin: 0 20px 20px 20px;}

.description {
    font-size: 0.9em;
}

.credits {
    font-size: 0.8em;
    color:grey;
    margin-top: 15px;
    text-transform: uppercase;
}

.credits a {
    color:grey;
}

.recommender {
	border-top: 2px solid #ececec;
	margin-top: 5px;
	padding:6px 20px;
	}

.recommender img {
	background: no-repeat center center;
	width: 30px; 
	height: 30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	margin-right:5px;
	border: 2px solid #ececec;
	float:left;}
	
.rectext {
	font-size: 10px;
	line-height: 12px;
	color: grey;
	margin-bottom: 0;
	margin-top: 3px;
}

.twitter-follow-button {
    margin: 0px 3px 0 0;
}

#footer {
    font-size:12px;
    color:grey;
    clear:both;
    text-align: center;
}

.tweet {font-size: 10px;}

.close {margin-top: -15px;}

/* tooltip styles */

.ui-tooltip, .arrow:after {
    background: rgba(227,227,227,0.95);
    width: 250px;
}
.ui-tooltip {
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 0 7px white;
}
    
/* supportbox styles */
#supportbox {
    background: rgba(255,255,255,0.8);
    background-size:90% 90%;
    height:320px;
    width:320px;
    padding: 30px 10px 20px 10px;
    border-bottom:solid 2px rgba(204,0,0,0.75);
    position: absolute;
    right:100px;
    z-index: 10;
}
.state-hidden {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.slide {
    margin:0;
    padding:0;
    width:340px;
}
.pull-me {
    display:block;
    position:absolute;
    right:100px;
    padding: 0 5px;
    width:200px;
    height:25px;
    color:#ffffff;
    background:#830000;
    text-decoration:none;
    font-weight: bold;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align: center;
    z-index: 11;
}

.slide a:hover {
    color:#ffffff !important;
    background:#cc0000;
    text-decoration:none;
    font-weight: bold;
}
.s ul { padding-left: 0px;;margin-left: 0px;}
.s ul li {
    display: inline;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    }
.s h4 {
    font-size:12px;
    font-weight: normal;
}
.donate ul {
	height:40px;
	margin-top: -15px;
}
.paypal form {
	border-bottom: none;
	display:inline;
}

/* Tweet popover */
.popover-title {
    background: #fff;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.twitter-tweet {
    border: none;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 -12px 0;
    padding: 0;
}

.instapaper {
	float:right;
}

/* navigation */
.menu-trigger, .menu-trigger:hover {
	color:black;
	text-decoration: none;
	margin-bottom: -20px;
}
.icon-reorder {
	background-color: #ececec;
	padding:5px;}

#jPanelMenu-menu {
    background: #3b3b3b;
}
#jPanelMenu-menu ul {
    border-bottom: 1px solid #484848;
    list-style: none;
    margin-left: 0px;
}


#jPanelMenu-menu li {
    background: #3b3b3b;
    background: -o-linear-gradient(top,  #3e3e3e,  #383838);
    background: -ms-linear-gradient(top,  #3e3e3e,  #383838);
    background: -moz-linear-gradient(top,  #3e3e3e,  #383838);
    background: -webkit-gradient(linear,  left top,  left bottom,  color-stop(0,  #3e3e3e),  color-stop(1,  #383838));
    background: -webkit-linear-gradient(#3e3e3e,  #383838);
    background: linear-gradient(top,  #3e3e3e,  #383838);
    font-weight: 300;
    font-weight: 700;
    display: block;
    padding: 0.8em 1em;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2e2e2e;
    text-decoration: none;
    text-shadow: 0 -1px 2px #222;
    color: #f7f7f7;
}


#jPanelMenu-menu a li {
    display: block;
    text-decoration: none;
    color: #f7f7f7;
}
#jPanelMenu-menu a:hover li, #jPanelMenu-menu a:focus li {
    background: #404040;
    background: -o-linear-gradient(top,  #484848,  #383838);
    background: -ms-linear-gradient(top,  #484848,  #383838);
    background: -moz-linear-gradient(top,  #484848,  #383838);
    background: -webkit-gradient(linear,  left top,  left bottom,  color-stop(0,  #484848),  color-stop(1,  #383838));
    background: -webkit-linear-gradient(#484848,  #383838);
    background: linear-gradient(top,  #484848,  #383838);
    text-decoration: none;
}
#jPanelMenu-menu li a:active {
    background: #363636;
    background: -o-linear-gradient(top,  #3e3e3e,  #2e2e2e);
    background: -ms-linear-gradient(top,  #3e3e3e,  #2e2e2e);
    background: -moz-linear-gradient(top,  #3e3e3e,  #2e2e2e);
    background: -webkit-gradient(linear,  left top,  left bottom,  color-stop(0,  #3e3e3e),  color-stop(1,  #2e2e2e));
    background: -webkit-linear-gradient(#3e3e3e,  #2e2e2e);
    background: linear-gradient(top,  #3e3e3e,  #2e2e2e);
    -moz-box-shadow: 0 2px 7px #222 inset;
    -webkit-box-shadow: 0 2px 7px #222 inset;
    box-shadow: 0 2px 7px #222 inset;
    border-top-color: #222;
    padding-top: 0.55em;
    padding-bottom: 0.45em;
}


/* Responsive CSS fixes */

@media (min-width: 768px) {
h1 {display:inline;}
.claim {margin-left: 10px;}
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .slide {display:none;} 
    body {padding-left: 0;}
}

form {
    margin-bottom: 10px;

}

@media (min-width:400px){
input, button{ 
    padding: 15px !important;    
    font-size: 25px !important;
}
}

@media (max-width:400px){
.description {display:none;}
.lead {margin-bottom: 10px;margin-top: 0;}
}