html, body {
    height: 100%;
}

body {
    background: url(background.png) top left repeat;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.page-header {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.signin {margin-bottom: 10px;}

.userinfo {
	margin-top: 10px;
	border-top: 1px solid rgba(0,0,0,0.2);
	padding-top: 10px;
}

#wrapper {
    min-height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#push, #footer {
    height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */

@media (min-width: 768px) {
h1 {display:inline;}
.claim {margin-left: 10px;}
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .slide {display:none;} 
}

form {
    margin-bottom: 10px;

}
/*Fixed problem with the form on the mobile*/
@media (min-width:400px){
input, button{ 
    padding: 15px !important;    
    font-size: 25px !important;
}
}

@media (max-width:400px){
.description {display:none;}
.lead {margin-bottom: 5px;}
}

.lead {
    font-weight: normal;
}

.suggestions {
    font-size:12px;
    color: grey;
    margin:5px 0;
}

#error {
    border-left: 3px solid rgba(255,0,0,0.61); 
    padding: 0 8px; 
    margin: 30px 0;
}

.teaser {
           -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    box-sizing:             border-box;
    border: 1px solid rgba(0,0,0,0.2);
    width:100%;
    float:left;
    margin-bottom: 30px;
    padding: 20px;
    background: rgba(255,255,255,0.8);
}

.teaser:nth-child(3n) {
    margin-right:0;
}

.teaser h3, h3 a {
    font-weight: bold;
    text-decoration: none;
    color:black;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.media {
    
}

.media img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.description {
    font-size: 0.9em;
}

.credits {
    font-size: 0.8em;
    color:grey;
    margin-top: 5px;
}

.credits a {
    color:grey;
}

.twitter-follow-button {
    margin: 0px 3px 0 0;
}

#footnote {
    font-size:12px;
    color:grey;
    margin-top: 150px;
    clear:both;
}

.tweet {font-size: 10px;}

.close {margin-top: -15px;}

/* tooltip styles */

.ui-tooltip, .arrow:after {
    background: rgba(227,227,227,0.95);
    width: 250px;
}
.ui-tooltip {
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 0 7px white;
}
    
/* supportbox styles */
#supportbox {
    background: rgba(255,255,255,0.8);
    background-size:90% 90%;
    height:320px;
    width:320px;
    padding: 30px 10px 20px 10px;
    border-bottom:solid 2px rgba(204,0,0,0.75);
    position: absolute;
    right:100px;
    z-index: 10;
}
.state-hidden {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 1px;
}

.slide {
    margin:0;
    padding:0;
    width:340px;
}
.pull-me {
    display:block;
    position:absolute;
    right:100px;
    padding: 0 5px;
    width:200px;
    height:25px;
    color:#ffffff;
    background:rgba(255,0,0,1);
    text-decoration:none;
    font-weight: bold;
    -moz-border-bottom-left-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    text-align: center;
    z-index: 11;
}

.slide a:hover {
    color:#ffffff !important;
    background:#cc0000;
    text-decoration:none;
    font-weight: bold;
}
.s ul { padding-left: 0px;;margin-left: 0px;}
.s ul li {
    display: inline;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    }
.s h4 {
    font-size:12px;
    font-weight: normal;
}
.donate ul {
	height:40px;
	margin-top: -15px;
}
.paypal form {
	border-bottom: none;
	display:inline;
}

/* Tweet popover */
.popover-title {
    background: #fff;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.twitter-tweet {
    border: none;
    font-family: Georgia, "Times New Roman", serif;
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 -12px 0;
    padding: 0;
}

.instapaper {
	float:right;
	margin-top: 2px;
}

/* navigation */
.menu-trigger, .menu-trigger:hover {
	color:black;
	text-decoration: none;
	margin-bottom: -20px;
}
.icon-reorder {
	background-color: red;
	padding:5px;}
#jPanelMenu-menu {
	background-color: rgba(255,0,0,1);
}
#jPanelMenu-menu ul {
	margin-top: 20px;
}

#jPanelMenu-menu ul li {
	display:block;
	list-style: none;
	padding:8px;
	background: 
}
.jPanelMenu-panel {
	background: url(background.png) top left repeat !important;
}
