body {font-family: Georgia, serif; font-size: 16px;width: 850px; margin: 20px auto;padding:10px;}
#wrapper {width:100%;}
#searchform {margin-top:20px;}
.searchbox {width: 300px; height:50px; font-size:150%;}
.suggestions {font-size:12px;font-family: Helvetica, Arial, sans-serif;color: grey;margin:5px 0;}
#error {border-left: 3px solid rgba(255,0,0,0.61); padding: 0 8px; margin: 30px 0;}
#embeds {}
.teaser {font-family:Helvetica, Arial, sans-serif;width:250px;float:left;margin: 0 20px 20px 0;padding: 10px 10px;background-color: rgba(227,227,227,0.4);}
.teaser:nth-child(3n) {margin-right:0;}
.teaser h3, h3 a {font-weight: bold;text-decoration: none;color:black;margin-bottom: 5px;}
.img {border: solid 1px rgba(227,227,227,0.4);}
.description {font-size: 0.9em;}
.credits {font-size: 0.8em;color:grey;margin-top: 5px;}
.credits a {color:grey;}
.twitter-follow-button {margin: 10px 3px 0 0;}
#footnote {font-size:12px;color:grey;margin-top: 150px;clear:both;}

/* mobile styling maybe later. */
