html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    background: url(background.png) top left repeat; 
}

.page-header {
    font-family: Georgia, serif !important; 
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

#push, #footer {
    height: 60px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

input, button{ 
    padding: 15px !important;    
    font-size: 25px !important;
}

.suggestions {
    font-size:12px;
    font-family: Helvetica, Arial, sans-serif;
    color: grey;
    margin:5px 0;
}

#error {
    border-left: 3px solid rgba(255,0,0,0.61); 
    padding: 0 8px; 
    margin: 30px 0;
}

.teaser {
    font-family:Helvetica, Arial, sans-serif;
    width:100%;
    float:left;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(227,227,227,0.4);
}

.teaser:nth-child(3n) {
    margin-right:0;
}

.teaser h3, h3 a {
    font-weight: bold;
    text-decoration: none;
    color:black;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.img {
    border: solid 1px rgba(227,227,227,0.4);
}

.description {
    font-size: 0.9em;
}

.credits {
    font-size: 0.8em;
    color:grey;
    margin-top: 5px;
}

.credits a {
    color:grey;
}

.twitter-follow-button {
    margin: 0px 3px 0 0;
}

#footnote {
    font-size:12px;
    color:grey;
    margin-top: 150px;
    clear:both;
}